body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #F0F8FF;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    font-size: 40pt;
    margin: 0 0 30px;
    text-align: center;
}

#gif {
    margin-top: 10px;
    height: 90px;
    width: 90px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 550px;
    background-color: #9fd6fa;
    border-radius: 5px;
    padding: 40px;
    box-sizing: border-box;
    text-align: center;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    justify-content: center;
}

input, button {
    padding: 15px;
    font-size: 1rem;
    border: none;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
}

input {
    background-color: #ffffff;
    cursor: auto;
    width: calc(90% - 220px);
    margin-right: 10px;
    border: 2px solid #000;
    margin-right: 10px;
}

#cmg {
    background-color: #4574a3;
    cursor: pointer;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: 0 6px 16px rgba(0,0,0,0.2), 0 6px 20px rgba(0,0,0,0.19);
    width: 200px;
    /* margin-right: 50px; */
}

#cmg:hover, #play:hover {
    background-color: #70a6db;
    font-weight: bolder;
}

#inst {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3E8EDE;
    padding: 0;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    color: #000000;
    width: 80%;
    /* max-width: 500px; */
}

#result {
    margin-top: 4px;
}

#notifywin {
    margin-bottom: 10px;
    color: #ffffff;
}

#tips {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    font-size: 12pt;
    padding: 20px;
    margin-top: 10px;
    align-items: center;
    box-sizing: border-box;
}

#tp {
    margin-top: -5px;
    margin-right: -20px;
}

#one {
    text-align: center;
}

#play {
    margin-top: 20px;
    background-color: #2991b7;
    border-radius: 10px;
    color: #ffffff;
    width: 150px;
}

#diff {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F0F8FF;
    color: #000000;
    margin-top: 5px;
}

#head {
    margin-right: 10px;
}

#easy, #hard {
    margin: 0 5px;
}
#easy{
    background-color: rgb(88, 230, 88);
    padding: 10px;
}
#hard{
    background-color: rgb(248, 89, 89);
    padding: 10px;
}
#easy:hover{
    background-color: rgb(0, 174, 0);
    font-weight: bolder;
}

#hard:hover{
    background-color: rgb(243, 9, 9);
    font-weight: bolder;
}
#confetti{
    height: 0px;
    width: 0px;
}
@media (max-width: 600px) {
    h1 {
        font-size: 30pt;
    }

    .box {
        padding: 20px;
    }

    input, button {
        width: 100%;
        margin: 5px 0;
    }

    #inst {
        width: 100%;
        padding: 10px;
    }

    #notifywin {
        width: 100%;
        padding: auto;
    }

    #diff {
        flex-direction: column;
        align-items: flex-start;
    }

    #head {
        margin-bottom: 10px;
    }
}
